{% load static %}

<head>
<title>Movers & Packers - Admin Login</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <link rel="stylesheet" type = "text/css" href="{% static 'css/login.css' %}">

</head>
<body style = "background-image : url({% static 'images/bg.jpg' %})">

<div class="row">
  <div class="col-lg-5 m-auto">
    <div class="card mt-5 bg-dark">
      <div class="card-title text-center mt-3">
          <img src="{% static 'images/adminlogin.png' %}" width="150" height="150">
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user fa-2x"></i>
                </span>
              </div>
              <input type="text" name="username" class="form-control py-4" placeholder="UserName">
          </div>

          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-lock fa-2x"></i>
                </span>
              </div>
              <input type="password" name="pwd" class="form-control py-4" placeholder="Password">
          </div>
          <input type="submit" value="Login" class="btn btn-success px-5">
          <a href="/" class="float-right mt-2 text-white">Go Back To Home</a>
        </form>
      </div>
    </div>
  </div>
</div>


</body>

{% ifequal error "no" %}
<script>
    alert('logged in successfully');
    window.location=('{% url 'admin_home' %}');
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert('Invalid Login Credentials,Try Again...');
</script>
{% endifequal %}